.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

footer {
  background: #343a40;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 0;
}

footer a {
  color: #ffc107;
  text-decoration: none;
}

#hero1 {
  background-color: #3b4252;
}

.card-body {
  margin: 20px;
  padding: 20px;
}

.mycard {
  padding: 10px;
  margin: 10px;
  background-color: #adb5bd;
}

.text-featured {
  color: #adb5bd;
}

body {
  scroll-behavior: smooth;
}

.ctn-div {
  padding-bottom: 30px;
}

.container-code {
  position: relative;
  margin-top: 10px;
  padding: 12px;
  background-color: #00132d;
  color: #ffbf00;
  border-radius: 7px;
  padding-bottom: 5px;
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.copy-btn:focus {
  outline: none;
}

.copy-btn:active {
  background-color: #000000;
}

.space-div {
  padding-top: 10px;
}